@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.h-100px
{
    height: 20px;
}

a, ul, li
{
    text-decoration: none;
    color: black;
}

hr
{
    border: 2px solid #617852;
    width: 50px;
    opacity: 1;
    border-radius: 2px;
}

.hr-100
{
    border: 4px solid #617852;
    width: 100px;
    opacity: 1;
    border-radius: 2px;
    margin-top: -30px;
}

body{
    font-family: "Poppins", serif;
}


ul, li
{
    list-style-type: none;
}

nav
{
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}


.center-div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand
{
    margin: 0px 20px 20px 70px;
}

.navbar-toggler
{
    border: none;
}


#searchBar 
{
    width: 400px;
    margin-right: 50px;
}
.searchSubmit
{
    margin-right: 50px;
}


.navbar-brand-aside
{
    width: 100%;
}

.navbar-brand-aside a{
    font-size: 50px;
}


.nav-buttons{
    /* margin-left: 40%; */
}
.nav-item
{
    margin-left: 10px;
}
.nav-item :hover
{
    color: green;
}

/* ------------------------------------------------------------------------------------ */



/* Home */

.Home-Hero
{
    /* margin-top: -100px; */
    height: 500px;
    width: 100%;
    /* background-color: rgba(100, 165, 100, 0.804); */
}

.homeHero-left
{
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.homeHero-right
{
    height: 100%;
    width: 50%;
}







/* text scroll ------------------- */

.GBL {
    margin: 1.25em auto;
    height: 3.6em;
    overflow: hidden;
    margin-top: 70px;
    /* margin-bottom: -150px; */
    margin-left: -300px;
}

.txt ul,
.txt li {
    height: 5.5em;
    width: 100%;
}

.txt li {
    height: 1em !important;
    font-size: 3em;
    text-transform: uppercase;
    width: 100%;
}


.txt {
    animation: scroll-auto 5s ease-in-out infinite;
}

@keyframes scroll-auto {
    0%, 20% {
        transform: translate(0px, -12.50em);
    }

    20%, 40% {
        transform: translate(0px, -9.375em);
    }

    40%, 60% {
        transform: translate(0px, -6.44em);
    }

    60%, 80% {
        transform: translate(0px, -3.44em);
    }

    80%, 100% {
        transform: translate(0px, -0.315em);
    }

    100%, 0% {
        transform: translate(0px, -12.50em);
    }
}




/* ---------------------------- */




/* new---------------------------- */

.new-header
{
    height: 150px;
}

#new
{
    /* height: 700px; */
    padding: 100px 10px 200px 10px;
}


.card
{
  width: 250px;
}

.one , .card
{
    height: 500px;
    /* width: 400px; */
    /* background-color: #f1f1f1; */
    flex-direction: column;
    margin-bottom: 10px;
}
.one img 
{
    height: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.details
{
    height: 50%;
    /* background-color: #f1f1f1; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 20px;
}







/* featured --------------------*/

#featured
{
    
    padding-bottom: 200px;
}


#featured article
{
    height: 200px;
    /* width: 100%; */
    flex-direction: column;
}
#featured article hr
{
    width: 70%;
    margin: 10px 10px;
    border: 2px solid rgb(199, 145, 145);
}

.product img, .product h3
{
    
    cursor: pointer;
}

.product-header div
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 20px 20px; */
}


.short-red-line
{
    width: 2%;
    margin: 10px 10px;
    border: 2px solid rgb(250, 0, 0);
    opacity: 1;
}




/* Banner--------------- */

#banner
{
    background-image: url(../imgs/Banner-women.jpg);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: -600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 200px; 
    color: white;
}



#Collections
{
    padding-bottom: 150px;
}


/* ---------------------------- */









/* Single product page -------------------------------------------------------------------- */



.single-product
{
    /* height: 700px; */
    padding: 10px 10px 200px 10px;
}

.single-product div
{
    padding: 10px;
}


.small-img-col img
{
    width: 100%;
    cursor: pointer;
    /* border: 1px solid black; */
}

.single-product input{
    width: 50px;
    padding: 7px;
    margin: 10px;
}
.single-product input:focus{
    outline: none;
}

.single-product-gallery{
  height: 500px;
  width: 30%;
}
.main-img
{
  height: 90%;
  width: 100%;
}
.main-img img
{
  height: 100%;
  width: 50%;
  object-fit: cover;
}





/* Cart------------------------- */


.cart tr , .orders tr
{
    border: none;
}

.cart table , .orders table
{
    border-collapse: collapse;
    width: 100%;
}

.cart .product-info , .orders .product-info
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cart th, .orders th
{
    text-align: left;
    padding: 5px 10px;
    background-color: #8ba27c;
    color: rgb(0, 0, 0);
}

.cart td, .orders td
{
    padding: 5px 10px;
    border-bottom: 1px solid #8ba27c;
    /* display: flex; */
}

.product-details
{
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  /* width: 70%; */
}



.cart img , .orders img 
{
    width: 80px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-remove-btn
{
  color: red;
}

.cart-total 
{
  display: flex;
  justify-content: flex-end;
}

.cart-total table
{
  width: 100%;
  max-width: 400px;
  border-top: 3px solid #8ba27c;
}

td:last-child
{
  text-align: right;
}
th:last-child
{
  text-align: right;
}

.checkout-container
{
  display: flex;
  justify-content: flex-end;
}
.checkout-container button
{
  padding: 10px 20px;
  background-color: #8ba27c;
  margin: 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}







/* Login----------------------- */

#login-form , #register-form
{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #8ba27c;
}


#login-form input, #register-form input
{
    width: 50%;
    /* padding: 10px; */
    margin: 5px auto;
    border: 1px solid #8ba27c;
}

#register-url, #login-url
{
    margin: 10px;
    color: #8ba27c;
    cursor: pointer;
}

#login-btn, #register-btn
{
    padding: 10px 20px;
    background-color: #8ba27c;
    margin: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}


#login-btn:hover, #register-btn:hover
{
    background-color: white;
    color: #8ba27c;
}

/* Register------------ */



/* User-details------------ */

#User-details
{
  margin: 5px;
  padding: 20px;
}

#User-details input
{
  margin-bottom: 20px;
}

#contact span
{
  color: #8ba27c;
}











footer
{
    height: 60dvh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

footer div ul li
{
    margin: 10px;
    font-size: 25px;
    transition: 0.5s;
}
footer div ul li:hover
{
    margin: 15px;
    font-size: 28px;
}


footer div p
{
    margin: 30px;
    font-size: 200px;
}

.footer-img
{
    height: 300px;
}












#admin-panel
{
  height: 90dvh; 
  width: 100%;
  background-color: #617852;
  display: flex;
}

#admin-panel-aside
{
  height: 100%;
  width: 30%;
}

#admin-panel-article
{
  height: 100%;
  width: 70%;
  display: flex;
}

#admin-panel-article form
{
  display: flex;
  flex-direction: column;

}

.text-input
{
  height: 40px;
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  border: solid black 2px;
}

#admin-panel-article  textarea
{
  height: 100px;
  padding: 10px;
  border: #000 solid 2px;
  /* border-radius: 5px; */
}





















@media (max-width: 768px) {
    
    
    .Home-Hero
    {
        margin-top: 130px;
        height: 400px;
        width: 100%;
        /* background-color: rgba(100, 165, 100, 0.804); */
    }

    
.GBL {
    margin-top: 40px;
    margin-left: -50px;
}

    .button-49,
    .button-49:after {
      width: 200px;
      height: 86px;
      line-height: 88px;
    }


    .homeHero-right img
{
    width: 90%;
    /* height: 100%; */
}

.one
{
    height: 450px;
}

#banner{
    
    background-position-y: 0px;
  }

  .single-product
{
    height: 1000px;
}

  .small-img-col{
    /* padding: 10px; */
    width: 100%;
  }
  .small-img-col img 
{
    width: 100%;
}

#login-form input, #register-form input
{
    width: 100%;
}


  }
  
  
  








































/* Button styles---------------------------- */




.buyNow {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    background-color: #000;
  }
  
  .buyNow {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .buyNow:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .buyNow:hover {
    color: rgb(0, 0, 0);
  }
  
  .buyNow:hover:after {
    top: 0;
    height: 100%;
  }
  
  .buyNow:active {
    top: 2px;
  }



/* heroShopnow button */
.heroShopnow,
.heroShopnow:after {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  /* font-family: 'Bebas Neue', sans-serif; */
  font-weight: 200;
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
  border: 0;
  color: #ffffff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.heroShopnow:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.heroShopnow:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}






/* new Shop Now Button */
.newShopNowButton {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.newShopNowButton:focus {
  text-decoration: none;
}

.newShopNowButton:hover {
  text-decoration: none;
}

.newShopNowButton:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.newShopNowButton:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .newShopNowButton {
    padding: 12px 50px;
  }
}





/* CSS */
.upload_sub {
  appearance: none;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.upload_sub:disabled {
  pointer-events: none;
}

.upload_sub:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.upload_sub:active {
  box-shadow: none;
  transform: translateY(0);
}